*{
    margin:0;
    padding:0 ; 
    box-sizing:border-box ;   /*  noted  */
}


.navbar {
    display: flex;  /*  noted  */
    align-items: center;
    padding: 20px;
  }
  nav {
    flex: 1;
    text-align: right;
  }

  nav ul {
    display:inline-block; 
    list-style-type: none; 
  }

  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }

a {
	text-decoration: none;
	color: #555;
}

p{
  color: #555 ; 
}
